<div id="title">
	<div id="title-image">
		<img id="img" src="assets/icons/character.png"/>
	</div>
	<div id="title-text">
		<div id="name">{{ character.name }}</div>
		<div id="subtitle">{{character.race}} {{ character.class }} {{ character.level }}</div>
	</div>
</div>

<div id="ribbon">
	<div class="entry" routerLink="/"
		[ngClass]="{'active': active == 'sheet'}">
		<img src="assets/icons/sheet.png"/>
		<span>Sheet</span>
	</div>
	<div class="entry" routerLink="/inventory"
		[ngClass]="{'active': active == 'inventory'}">
		<img src="assets/icons/inventory.png"/>
		<span>Inventario</span>
	</div>
	<div class="entry" routerLink="/edit"
		[ngClass]="{'active': active == 'edit'}">
		<img src="assets/icons/edit.png"/>
		<span>Editar</span>
	</div>
</div>
