<div id="content">
	<!--<mat-form-field class="form">
		<input
			autofocus
			matInput
			type="text"
			placeholder="Nombre..."/>
	</mat-form-field>
	<mat-form-field class="form">
		<input
			autofocus
			matInput
			type="text"
			placeholder="Clase..."/>
	</mat-form-field>
	<mat-form-field class="form">
		<input
			autofocus
			matInput
			type="text"
			placeholder="Nivel..."/>
	</mat-form-field>-->

	<div id="stats">
		<div class="stat">
			<div class="name">
				<img id="img" src="assets/icons/stats/STR.png"/>
				<span>Strength</span>
			</div>
			<i class="material-icons arrow less">keyboard_arrow_left</i>
			<i class="material-icons arrow more">keyboard_arrow_right</i>
			<div class="mod">+5</div>
			<div class="value">20</div>
		</div>
	</div>
</div>
