@import '~src/assets/style/colors';
@import '~src/assets/style/layout';
@import '~src/assets/style/mixins';

::ng-deep .mat-form-field-underline {
	background-color: $light !important;
}

#encounter-xp {
	background-color: $light-primary;
	text-align: center;
	padding: 10px;
	color: black;
	.value { font-size: 14pt; }
	.label { font-size: 8pt; }
	margin-bottom: 10px;
}

#add-btn-container {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.txt-input {
	margin-top: 10px;
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
	input {

	margin-bottom: 0px !important;

	}
	margin-bottom: 0px !important;
}

.enemy {
	&:first-child {
		border-top: 1px solid $light;
	}
	border-bottom: 1px solid $light;
	button, .name, .count {
		display: inline-block;
		vertical-align: middle;
	}
	.count {
		margin-left: 10px;
		@include badge($primary);
	}
}