<!--<div id="encounter-xp">
	<div class="value">{{ XP.toLocaleString() }}</div>
	<div class="label">Encounter XP</div>
</div>-->

<mat-form-field class="txt-input">
	<input
		[(ngModel)]="encounter.name"
		autocomplete="off"
		required
		matInput placeholder="Encounter name..."/>
</mat-form-field>

<div id="enemies">
	<div class="enemy" *ngFor="let enemy of enemies">
		<button mat-icon-button color="warn" (click)="removeEnemy(enemy)">
			<mat-icon>close</mat-icon>
		</button>
		<span class="name">{{ enemy.name }}</span>
		<span class="count">{{ getEnemyCount(enemy) }}</span>
	</div>
</div>

<div id="add-btn-container">
	<button (click)="showCreatures()" mat-flat-button color="primary">
		Add creatures
	</button>
</div>