@import '~src/assets/style/colors';
@import '~src/assets/style/mixins';

#filter-selector {
	span {
		display: inline-block;
		box-sizing: border-box;
		width: 50%;
		text-align: center;
		padding: 10px;
		color: darken($light, 15);
		background-color: lighten($dark, 5);
		font-weight: bold;
	}
	span.active {
		background-color: $dark;
		color: $light;
	}
}

// Selectors
#type-selector-8 { @include selector(8); }
#type-selector-7 { @include selector(7); }

#header {
	background-color: $dark;
}

#search-input {
	width: 100%;
	padding-left: 16px;
	padding-right: 16px;
	margin-top: -16px;
	box-sizing: border-box;
	color: $light;

	::ng-deep .mat-form-field-label {
		color: $light !important;
	}

	::ng-deep .mat-form-field-underline {
		background-color: $light !important;
	}

	::ng-deep .mat-form-field-ripple {
		background-color: $pink !important;
	}
}

#cr-slider-container {
	padding-left: 10px;
	padding-right: 10px;
	.cr-slider {
		width: 100%;
	}
}

.creature {
	cursor: pointer;
	border-bottom: 1px solid $light;
	position: relative;
	.creature-icon, .creature-name, .creature-cr {
		display: inline-block;
		vertical-align: middle;
	}
	.creature-cr {
		@include borderRadius(8px);
		width: 30px;
		font-size: 8pt;
		font-weight: bold;
		margin-right: 6px;
		margin-left: 6px;
		background-color: $primary;
		color: $light;
		text-align: center;
		padding: 2px;
	}
	.creature-icon {
		text-align: center;
		padding: 8px;
		padding-top: 10px;
		margin-right: 6px;
		img { height: 26px; }
	}
	.add-btn {
		position: absolute;
		right: 10px;
		top: 6px;
	}
}

#more-results {
	background-color: $primary;
	color: $light;
	text-align: center;
	cursor: pointer;
	padding: 10px;
}