@import '~src/assets/style/colors';
@import '~src/assets/style/mixins';
@import '~src/assets/style/layout';

#toolbar {
	z-index: 10000 !important;
}

#filters {
	z-index: -1 !important;
	margin-top: 0px;
	transition: margin-top 0.2s;
	.shown {
		margin-top: -134px;
		transition: margin-top 0.2s;
	}
}

.tab-content {
	padding: 10px 20px;
	width: 100%;
	box-sizing: border-box;
	.slider {
		margin-top: 17px;
		width: 100%;
	}
}

.creature {
	cursor: pointer;
	border-bottom: 1px solid $light;
	position: relative;
	.creature-icon, .creature-name, .creature-cr {
		display: inline-block;
		vertical-align: middle;
	}
	.creature-cr {
		@include borderRadius(8px);
		width: 30px;
		font-size: 8pt;
		font-weight: bold;
		margin-right: 6px;
		margin-left: 6px;
		background-color: $primary;
		color: $light;
		text-align: center;
		padding: 2px;
	}
	.creature-icon {
		text-align: center;
		padding: 8px;
		padding-top: 10px;
		margin-right: 6px;
		img { height: 26px; }
	}
	.add-btn {
		position: absolute;
		right: 10px;
		top: 6px;
	}
}

#more-results {
	background-color: $primary;
	color: $light;
	text-align: center;
	cursor: pointer;
	padding: 10px;
}