$bg : 			#1c1f29;
$mid : 			#2b303f;
$border :		#242935;
$font: 			#a8b1c0;
$dull: 			#657994;
$light: 		#fafafa;
$primary:		#52aff9;
$primary-dark:	#36558f;
$warn:			#db504a;
$gold:			#edae49;
$highlight:		#ee6c4d;
$light-border: 	#f1edee;