// Basic olors
$light: 	#e3e1de;
$medium:	#646464;
$dark:		#252525;

// Primary colors
$pink:		#E91E63;
$gold: 		#FCFC62;
$silver: 	#C9C9C9;
$bronze: 	#CAD49D;
$wood: 		#BFCDE0;


// Spell family colors
$abjuration:	#B3CBB9;
$conjuration:	#8E5572;
$divination:	#93A3B1;
$enchantment:	#A99F96;
$evocation:		#ED6A5A;
$illusion:		#73C1C6;
$necromancy:	#D8DBE2;
$transmutation:	#EBF5DF;
