// Basic olors
$primary:	#4253af;
$light: 	#e3e1de;
$medium:	#646464;
$dark:		#252525;

// Primary colors
$pink:		#E91E63;
$gold: 		#FCFC62;
$silver: 	#C9C9C9;
$bronze: 	#CAD49D;
$wood: 		#BFCDE0;



// Rarity colors
$common: 	#8c8c8c;
$uncommon: 	#739cb7;
$rare: 		#3c7c16;
$very_rare: #bf9233;
$legendary: #e46a2c;
