
.text-and-icon {
	i, span, img {
		display: inline-block;
		vertical-align: middle;
	}
	i {
		margin-right: 10px;
	}
}

.center {
	position: fixed;
	z-index: 999;
	height: 2em;
	width: 2em;
	overflow: show;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}