<form id="form">
	<mat-form-field id="input-container">

		<input matInput placeholder="Escribe un número..."
			[formControl]="numberControl">

		<mat-hint>Escribe un número entero</mat-hint>

		<mat-error *ngIf="numberControl.hasError('pattern') && !numberControl.hasError('required')">
			¡Escribe números!
		</mat-error>

		<mat-error *ngIf="numberControl.hasError('required')">
			El número no puede quedar vacío
		</mat-error>

	</mat-form-field>
	
	<span id="button-container">
		<button href="" mat-flat-button color="primary"
			[mat-dialog-close]="numberControl.value">Aceptar</button>
	</span>

</form>