@import '~src/assets/style/colors';
@import '~src/assets/style/mixins';

#type-selector { @include selector(8); }
#rarity-selector { @include selector(6); }

.item {
	padding: 6px;
	border-bottom: 1px solid $light;
	cursor: pointer;
}

.rarity {
	@include borderRadius(6px);
	display: inline-block;
	font-size: 9pt;
	padding: 4px;
	width: 86px;
	margin-right: 10px;
	color: $light;
	text-align: center;
	img, span {
		display: inline-block;
		vertical-align: middle;
	}
	img {
		height: 14px;
		margin-right: 4px;
	}
	&.common { background-color: $common }
	&.uncommon { background-color: $uncommon }
	&.rare { background-color: $rare }
	&.very_rare { background-color: $very_rare }
	&.legendary { background-color: $legendary }
	&.varies { background-color: $pink }
}