<div id="menu"
	[style.backgroundPosition]="coords"
	[style.height.px]="menu.height">
	<!-- Nav icons -->
	<button mat-icon-button id="menu-button" (click)="toggleSidenav()">
		<mat-icon>menu</mat-icon>
	</button>
	<button mat-icon-button id="options-button" (click)="openFull()">
		<mat-icon>more_vert</mat-icon>
	</button>

	<!-- Header -->
	<div id="header"
		[style.bottom.px]="headerBottomMargin"
		[style.left.px]="headerLeftMargin">
		<img
			[style.height.px]="iconHeight"
			[style.opacity]="iconOpacity"
			id="icon" src="assets/game_icons/divination.png"/>
		<div id="text">
			<span id="title" [style.fontSize.px]="headerFontSize">{{ header }}</span>
			<span id="subtitle" [style.fontSize.px]="subtitleFontSize">Add creatures</span>
		</div>
	</div>
	
	<div id="cover" [style.opacity]="coverOpacity"></div>
</div>
<h1>{{ margin }}</h1>