@import '~src/assets/style/colors';

$background : lighten($dark, 10);

#bar {
	display: flex;
	flex-direction: row;
	position: relative;
	background-color: $background;
}

#label {
	position: absolute;
	top: 4px;
	left: 50%;
	color: darken($light, 10);
	font-size: 8pt;
	font-weight: bold;
}

.button {
	font-size: 20pt;
	padding: 10px 16px;
	text-align: center;
	box-sizing: border-box;
	background-color: $background;
	color: $light;
	i { margin-top: 14px; }
}

#value {
	flex-grow: 1;
	text-align: center;
	font-size: 20pt;
	padding-top: 18px;
	box-sizing: border-box;
	color: $light;
}