<table>
	<tr id="header">
		<th>DEX</th>
		<th>STR</th>
		<th>CON</th>
		<th>INT</th>
		<th>WIS</th>
		<th>CHA</th>
	</tr>
	<tr id="values">
		<td>
			{{ creature.dexterity }}
			({{ calculateBonus(creature.dexterity) | formatBonus }})
		</td>
		<td>
			{{ creature.strength }}
			({{ calculateBonus(creature.strength) | formatBonus }})
		</td>
		<td>
			{{ creature.constitution }}
			({{ calculateBonus(creature.constitution) | formatBonus }})
		</td>
		<td>
			{{ creature.intelligence }}
			({{ calculateBonus(creature.intelligence) | formatBonus }})
		</td>
		<td>
			{{ creature.wisdom }}
			({{ calculateBonus(creature.wisdom) | formatBonus }})
		</td>
		<td>
			{{ creature.charisma }}
			({{ calculateBonus(creature.charisma) | formatBonus }})
		</td>
	</tr>
	<tr id="saves">
		<td>{{ save('dexterity') | formatBonus }}</td>
		<td>{{ save('strength') | formatBonus  }}</td>
		<td>{{ save('constitution') | formatBonus  }}</td>
		<td>{{ save('intelligence') | formatBonus  }}</td>
		<td>{{ save('wisdom') | formatBonus  }}</td>
		<td>{{ save('charisma') | formatBonus  }}</td>
	</tr>
</table>
