@import '~src/assets/style/colors';

table {
	width: 100%;
	border-collapse: collapse;
	#header > th {
		background-color: lighten($dark, 10);
		border: 1px solid $dark;
		color: $light;
		padding: 6px;
		font-weight: bold;
	}
	#values > td {
		padding: 3px;
		text-align: center;
		border: 1px solid lighten($medium, 20);
	}
	#values > td:nth-child(even) {
		background-color: $light;
	}
}