@import '~src/assets/style/colors';
@import '~src/assets/style/layout';
@import '~src/assets/style/mixins';

.center { @extend .center }

#title { @include header(22pt) }

#ribbon { @include ribbon(5) }

#classes {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
	font-style: italic;
	color: $medium;
}

#properties {
	margin-top: 20px;
	padding: 10px;
	.name { font-weight: bold }
}

#description {
	padding-left: 10px;
	padding-right: 10px;
}

#higher-levels {
	border-top: 1px solid $light;
	padding: 10px;
	b, span { display: inline-block; }
	b { font-size: 8pt; }
	span {
		margin-top: -10px;
		font-size: 10pt;
		font-style: italic;
	}
}