@import '~src/assets/style/colors';

#symbol, #text {
	display: inline-block;
	vertical-align: middle;
}

#symbol {
	font-weight: bold;
	padding: 8px;
	margin-right: 10px;
}

#symbol.legendary {
	background-color: $gold;
	border: 1px solid darken($gold, 10);
}

#symbol.uncommon {
	background-color: $gold;
	border: 1px solid darken($gold, 30);
}