@import '~src/assets/style/colors';
@import '~src/assets/style/layout';

.center { @extend .center }

#title {
	display: block;
	background-color: $dark;
	color: white;
	padding: 30px;
	@extend .text-and-icon;
	#name, #subtitle { display: block; }
	i {
		font-size: 40pt;
		color: $light;
	}
	#name {
		font-size: 18pt;
	}
	#subtitle {
		color: $light;
		font-size: 10pt;
	}
}

table {
	width: 100%;
}

.attunement {
	color: green;
}

.no-attunement {
	color: orange;
}