<div id="slider" [ngClass]="{'even' : even }">
	<span id="icon"
		[ngClass]="{'proficient': isProficient() }"
		(click)="toggleProficiency()">
		<img src="{{image}}"/>
	</span>
	<span id="name">{{name | fromUnderscore }}</span>
	<span id="divider"></span>
	<span id="control">
		<i class="arrow material-icons icon left"
			(click)="decrease()">keyboard_arrow_left</i>
		<span id="value" (click)="showNumerDialog()">
			<span id="score">
				<span *ngIf="isBonus && object[prop] >= 0">+</span>{{ object[prop] }}
			</span>
			<span id="mod" *ngIf="displayBonus">
				&nbsp;({{ calculateStatBonus() }})
			</span>
		</span>
		<i class="arrow material-icons icon right"
			(click)="increase()">keyboard_arrow_right</i>
	</span>
</div>