<div id="header"
	[style.height.px]="menuHeight">
	<div id="cover" [style.opacity]="coverOpacity">
		{{ header }}
	</div>
</div>
NO MAMES
<h1>{{ coverOpacity }}</h1>NO MAMES
<h1>{{ coverOpacity }}</h1>NO MAMES
<h1>{{ coverOpacity }}</h1>NO MAMES
<h1>{{ coverOpacity }}</h1>NO MAMES
<h1>{{ coverOpacity }}</h1>NO MAMES
<h1>{{ coverOpacity }}</h1>NO MAMES
<h1>{{ coverOpacity }}</h1>NO MAMES
<h1>{{ coverOpacity }}</h1>NO MAMES
<h1>{{ coverOpacity }}</h1>NO MAMES
<h1>{{ coverOpacity }}</h1>NO MAMES
<h1>{{ coverOpacity }}</h1>NO MAMES
<h1>{{ coverOpacity }}</h1>NO MAMES
<h1>{{ coverOpacity }}</h1>NO MAMES
<h1>{{ coverOpacity }}</h1>NO MAMES
<h1>{{ coverOpacity }}</h1>NO MAMES
<h1>{{ coverOpacity }}</h1>NO MAMES
<h1>{{ coverOpacity }}</h1>NO MAMES
<h1>{{ coverOpacity }}</h1>NO MAMES
<h1>{{ coverOpacity }}</h1>