<mat-spinner
	*ngIf="!(character$ | async)"
	class="center"
	mode="indeterminate">
</mat-spinner>

<ng-container *ngIf="(character$ | async) as character">
	
	<character-header [character]="character" active="inventory"></character-header>

	<!-- Magic items -->
	<div class="block" *ngIf="character.inventory['magic-items']">
		<div class="title">Items mágicos</div>
		<div class="entry"
			(click)="openDialog('item', item)"
			*ngFor="let item of character.inventory['magic-items'] | arraify">
			<span class="icon-ball">
				<img id="img" src="assets/icons/{{ item.type | toUnderscore }}.png"/>
			</span>
			<span class="name">{{ item.name }}</span>
		</div>
	</div>
	
	<!-- Spellbook -->
	<div class="block" *ngIf="character.inventory.spellbook">
		<div class="title">Spells</div>
		<div class="entry"
			(click)="openDialog('spell', spell)"
			*ngFor="let spell of character.inventory.spellbook | arraify">
			<span class="icon-ball">
				<img id="img" src="assets/icons/{{spell.school}}.png"/>
			</span>
			<span class="name">{{ spell.name }}</span>
		</div>
	</div>

	<!-- Familiars -->
	<div class="block" *ngIf="character.inventory.familiars">
		<div class="title">Familiares</div>
		<div class="entry"
			(click)="openDialog('creature', creature)"
			*ngFor="let creature of character.inventory.familiars | arraify">
			<span class="icon-ball">
				<img id="img" src="assets/icons/creature-types/{{ creature.type }}.png"/>
			</span>
			<span class="name">{{ creature.name }}</span>
		</div>
	</div>
</ng-container>