@import '~src/assets/style/colors';
@import '~src/assets/style/layout';
@import '~src/assets/style/mixins';

#search-form {
	padding: 20px;
	width: 100%;
	box-sizing: border-box;
}

.result {
	padding: 10px;
	position: relative;

	border-bottom: 1px solid $light;

	&:nth-child(odd) {
		background-color: lighten($light, 8);
	}

	&:first-child {
		border-top: 1px solid $light;
	}

	.name, .type {
		display: inline-block;
		vertical-align: middle;
	}

	.type {
		@include borderRadius(10px);
		padding: 4px;
		width: 60px;
		font-size: 8pt;
		font-weight: bold;
		margin-right: 10px;
		text-align: center;
		color: $light;
		&.creature 		{ background-color: $very_rare }
		&.item 	{ background-color: $uncommon }
		&.spell 		{ background-color: $legendary }
	}

	.add-btn {
		position: absolute;
		right: 10px;
		top: 4px;
	}
}

#too-many-results {
	color: $medium;
	font-size: 16pt;
	text-align: center;
	padding: 10px;
}