<mat-spinner
	*ngIf="!(shop$ | async)"
	class="center"
	mode="indeterminate">
</mat-spinner>

<div *ngIf="(shop$ | async) as shop">
	<div id="title">
		<i class="material-icons">{{ shop.icon }}</i>
		<span>
			<span id="name">{{ shop.name }}</span>
			<span id="subtitle">{{ shop.propietor }}, {{ shop.adress }}</span>
		</span>
	</div>

	<table mat-table [dataSource]="shop.items | arraify" class="mat-elevation-z8">
		<ng-container matColumnDef="name">
			<th mat-header-cell *matHeaderCellDef> Nombre </th>
			<td mat-cell *matCellDef="let item"> {{item.name}} </td>
		</ng-container>

		<ng-container matColumnDef="price">
			<th mat-header-cell *matHeaderCellDef> Precio </th>
			<td mat-cell *matCellDef="let item"> WD${{item.price}} </td>
		</ng-container>

		<ng-container matColumnDef="attunement">
			<th mat-header-cell *matHeaderCellDef> Attunement </th>
			<td mat-cell *matCellDef="let item">
				<i class="material-icons attunement" *ngIf="item.attunement">done</i>
				<i class="material-icons no-attunement" *ngIf="!item.attunement">close</i>
			</td>
		</ng-container>

		<ng-container matColumnDef="rarity">
			<th mat-header-cell *matHeaderCellDef> Rarity </th>
			<td mat-cell *matCellDef="let item">
				<icon-rarity [rarity]="item.rarity"></icon-rarity>
			</td>
		</ng-container>
		
		<tr mat-header-row *matHeaderRowDef="cols"></tr>
		<tr mat-row *matRowDef="let row; columns: cols;"></tr>
	</table>
	
</div>