<top-menu header="Encounter editor"></top-menu>
<div style="height: 500px">&nbsp;</div>
<h1>{{ fontSize }} </h1>
<div style="height: 500px">&nbsp;</div>
<!--
<main>
		<header>
		</header>
		<section>
			
		  <h1 >CSS Parallax Header Image</h1>
		  <p>This demo uses a <a href="https://keithclark.co.uk/articles/pure-css-parallax-websites/">method discovered by Keith Clark</a> to create parallax effects in CSS, without a ton of janky Javascript and bloated jQuery plugins. </p>
		</section>
	  </main>
	  -->