<div id="title">
	<div id="title-image">
		<img id="img" src="assets/icons/creature-types/{{ creature.type }}.png"/>
		<span id="img-level">{{ creature.challenge_rating }}</span>
	</div>

	<div id="title-text">
		<div id="name">{{ creature.name }}</div>
		<div id="subtitle">{{ creature.size }} {{ creature.type }}</div>
	</div>
</div>

<stat-block [creature]="creature"></stat-block>

<table id="properties-table">
	<tr>
		<th>AC</th>
		<td>{{ creature.armor_class }}</td>
	</tr>
	<tr>
		<th>HP</th>
		<td>{{ creature.hit_points }} ({{ creature.hit_dice }})</td>
	</tr>
	<tr *ngIf="creature.senses">
		<th>Senses</th>
		<td>{{ creature.senses }}</td>
	</tr>
	<tr>
		<th>Alignment</th>
		<td>{{ creature.alignment }}</td>
	</tr>
	<tr *ngIf="creature.languages">
		<th>Languages</th>
		<td>{{ creature.languages }}</td>
	</tr>
	<tr>
		<th>Speed</th>
		<td>{{ creature.speed }}</td>
	</tr>
	<tr *ngIf="getProficiencyString(creature)">
		<th>Proficiencies</th>
		<td>{{ getProficiencyString(creature) }}</td>
	</tr>
	<tr *ngIf="creature.condition_immunities">
		<th>Condition immunities</th>
		<td>{{ creature.condition_immunities }}</td>
	</tr>
	<tr *ngIf="creature.damage_immunities">
		<th>Damage immunities</th>
		<td>{{ creature.damage_immunities }}</td>
	</tr>
	<tr *ngIf="creature.damage_resistances">
		<th>Resistances</th>
		<td>{{ creature.damage_resistances }}</td>
	</tr>
	<tr *ngIf="creature.damage_vulnerabilities">
		<th>Vulnerabilities</th>
		<td>{{ creature.damage_vulnerabilities }}</td>
	</tr>
</table>

<div id="text">

	<div class="block" *ngIf="creature.special_abilities">
		<div class="title">Special abilities</div>
		<div class="entry" *ngFor="let action of creature.special_abilities">
			<b>{{ action.name }}</b> {{ action.desc }}
		</div>
	</div>
	

	<div class="block" *ngIf="creature.actions">
		<div class="title">Actions</div>
		<div class="entry" *ngFor="let action of creature.actions">
			<b>{{ action.name }}</b> {{ action.desc }}
		</div>
	</div>

	<div class="block" *ngIf="creature.legendary_actions">
		<div class="title">Legendary Actions</div>
		<div class="entry" *ngFor="let action of creature.legendary_actions">
			<b>{{ action.name }}</b> {{ action.desc }}
		</div>
	</div>

</div>
