@import '~src/assets/style/colors';
@import '~src/assets/style/mixins';
@import './../top-menu/top-menu.component.scss';

#container {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#content {
	padding-top: $TOOLBAR-HEIGHT;
}

.full-height {
	height: 100%;
}

#side-nav-container {
	min-width: 300px;
	width: 100%;
}