@import '~src/assets/style/colors';
@import '~src/assets/style/layout';
@import '~src/assets/style/mixins';

.center { @extend .center }

.text-input {
	width: 100%;
	box-sizing: border-box;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0px !important;
}

.header {
	padding: 8px;
	padding-bottom: 10px;
	font-size: 14pt;
	color: $pink;
	border-bottom: 1px solid $light;
	&.space {
		margin-top: 30px;
	}
	&.first {
		margin-top: 10px;
		border: none;
	}
}

#calculate-bonus-button {
	text-align: center;
	margin-top: 30px;
}