@import '~src/assets/style/layout';
@import '~src/assets/style/colors';

.center { @extend .center }

#container {
	padding: 20px;
}

.full-width {
	width: 100%;
}

#btn-login {
	text-align: center;
}

#not-found {
	padding: 20px;
	background-color: $pink;
	color: $light;
	margin-top: 10px;
	text-align: center;
	width: 100%;
	box-sizing: border-box;
}